Gemfile
Gemfile.lock
Videos/

.jekyll-cache/
_site/
.sass-cache/
*.xcf
*.swp
*.DS_Store
CookBook/VinData/
CookBook/*.aux
CookBook/*.toc
CookBook/*.tmb 
CookBook/*.out
CookBook/*.pickle
CookBook/maps/
CookBook/*.log
CookBook/*.pdf
CookBook/cookbook.tex
CookBook/vin.tex
CookBook/calque-seul-1.eps
