<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Bienvenue</h1>

                <hr class="light">
                <p class="text-faded">
                Pourquoi ce site “Notes et conserves” ?… pour ne pas “oublier” !
                Et pourquoi est-il si important de ne pas oublier ?
                </p>
                </hr>

                <hr>
                <p class="text-faded">
                Les enfants aiment connaître les souvenirs de leurs parents et les souvenirs d’enfance peuvent être une formidable source d’énergie. Ils ne sont pas un simple retour du passé. Ils constituent notre identité.
                Le socle commun des souvenirs est la trame des liens familiaux : les valeurs, les convictions, les histoires, les faits marquants du passé familial et les rites (chansons, recettes) que tout le monde partage.
                </hr>

                <hr>
                <p class="text-faded-center">
                «La mémoire c’est du souvenir en conserve.»
                <br>
                Pierre Dac, Les pensées (1972)
                </hr>

                <hr>
                <p class="text-faded">
                Comment peut-on mettre en conserve nos souvenirs ?
                Autrefois, on avait (ou on prenait) le temps de les raconter à son entourage. Les familles éparpillées n’ont plus suffisamment de temps pour perpétuer cette tradition orale…
                Si on peut aussi rédiger ses mémoires (au risque de faire un livre de plus qui prendra la
                poussière !!), aujourd’hui, on peut mettre ses souvenirs en commun en les confiant à la
                mémoire du net. Chacun peut y retrouver ce dont il a besoin.
                </hr>

                <hr>
                <p class="text-faded-center">
                «Où se perd l’intérêt, se perd aussi la mémoire.»
                <br>
                Goethe, Maximes et réflexions (1749-1832)
                </hr>

                <hr>
                <p class="text-faded">
                Nous rassemblons ici tout ce que nous ne voulons pas perdre: la généalogie de la famille, les conversations en breton, les histoires de Coat Tanguy, les recettes familiales,…
                </hr>

                <hr>
                <p class="text-faded-center">
                «La mémoire est la sentinelle de l’esprit.»
                <br>
                William Shakespeare, Macbeth, I, IV – 1605
                </hr>

                <hr>
                <p class="text-faded-center">
                «L’oubli est un monstre stupide qui a dévoré trop de générations.»
                <br>
                George Sand, L’histoire de ma vie – 1855
                </hr>


                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
