  <aside class="bg-dark"  id='genealogie'>

      <div class="container text-center">
          <div class="call-to-action">
              <h1>Un peu de Genealogie</h1>

                <p class="text-faded">
                Nous allons raconter ici l’histoire de notre famille qui est issue de deux branches.
                La branche Drévès originaire de Saint-Pierre-Quilbignon et la branche Paugam originaire de Ploudaniel.
                </p>
                <p class="text-faded">
                Nous essaierons de remonter le plus loin dans les archives et dans nos souvenirs
                car il est important pour tout un chacun de replacer ces ancêtres dans le temps et dans l’espace.
                C’est donc une histoire de famille depuis le XVII ieme sielce que nous vous proposons ici.
                </p>
                <p class="text-faded">
                Faites votre choix dans les vignettes ci-dessous ...
                </p>

                <h3 class='text-primary' style='text-align:left'> Du cote Dreves</h3>

              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div  class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/dreves1_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: text
                                </div>
                                <div class="project-name" >
                                    <p>
                                      la famille Dreves avant la seconde guerre mondiale
                                    </p>
                                    <a href="http://en.calameo.com/read/0046395077e5b34a4fd29" class="btn btn-default btn-xl ">a lire sur calameo.com</a>
                                </div>
                              </div>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/dreves2_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: text
                                </div>
                                <div class="project-name" >
                                    <p>
                                      la famille Dreves apres la seconde guerre mondiale
                                      <br>
                                      <br>
                                      [a venir]
                                    </p>
                                </div>
                              </div>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/filmXavier_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: video
                                </div>
                                <div class="project-name" >
                                    <p>
                                      la video Xavier sur la famille Gourmelon
                                    </p>
                                    <a href="https://vimeo.com/115486307" class="btn btn-default btn-xl ">a voir sur vimeo.com</a>
                                </div>
                              </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <br>

                <h3 class='text-primary' style='text-align:left'> Du cote Paugam</h3>

                  <div class="row">
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/paugam1_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: texte
                                </div>
                                <div class="project-name" >
                                    <p>
                                      La famille Paugam avant la seconde guerre mondiale
                                      <br>
                                      <br>
                                      [a venir]
                                    </p>
                                </div>
                              </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
              </div>

          </div>
      </div>
  </aside>
