  <aside class="bg-dark"  id='genealogie'>

      <div class="container text-center">
          <div class="call-to-action">
              <h2>Un peu de Genealogie</h2>

                <p class="text-faded">
                Nous allons raconter ici l’histoire de notre famille qui est issue de deux branches.
                La branche Drévès originaire de Saint-Pierre-Quilbignon et la branche Paugam originaire de Ploudaniel.
                </p>
                <p class="text-faded">
                Nous essaierons de remonter le plus loin dans les archives et dans nos souvenirs
                car il est important pour tout un chacun de replacer ces ancêtres dans le temps et dans l’espace.
                C’est doncNous allons raconter ici l’histoire de notre famille qui est issue de deux branches.
                La branche Drévès originaire de Saint-Pierre-Quilbignon et la branche Paugam originaire de Ploudaniel.
                </p>
                <p class="text-faded">
                Faites votre choix dans les vignettes ci-dessous ...
                </p>

                <h3 class='text-primary' style='text-align:left'> Du cote Dreves</h3>

              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <a href=http://en.calameo.com/read/0046395077e5b34a4fd29 class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/dreves1_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption">
                                <div class="project-category text-faded">
                                    Categorie: texte
                                </div>
                                <div class="portfolio-box-caption-content">
                                    La famille Dreves jusqu'a la seconde guerre mondiale
                                </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <a href="#genealogie" class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/dreves2_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption">
                                <div class="project-category text-faded">
                                    Categorie: texte
                                </div>
                                <div class="portfolio-box-caption-content">
                                    [a venir] <br><br> La famille Dreves apres la seconde guerre mondiale
                                </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <a href=https://vimeo.com/115486307 class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/filmXavier_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption">
                                <div class="project-category text-faded">
                                    Categorie: video
                                </div>
                                <div class="portfolio-box-caption-content">
                                      Le Film de Xavier
                                </div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <br>

                <h3 class='text-primary' style='text-align:left'> Du cote Paugam</h3>

                  <div class="row">
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <a href="#genealogie" class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/paugam1_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption">
                                <div class="project-category text-faded">
                                    Categorie: texte
                                </div>
                                <div class="portfolio-box-caption-content">
                                    [a venir] <br><br> La famille Paugam avant la seconde guerre mondiale
                                </div>
                              </div>
                          </a>
                      </div>
                  </div>
                  <br>
              </div>

          </div>
      </div>
  </aside>
