<header>
    <div class="header-content">
        <div class="header-content-inner">

            <div>
            <h1>Recueil de Recettes et d'Histoires de Famille</h1>
            </div>

            <div>
             <p >pour ne pas oublier</p>
             <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>

        </div>
  </div>
  <div class="header-arrow">
        <a class="page-scroll" href = "#about" > <div class='icon-downbutton'> </div> </a>
  </div>


</header>
