<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Les Recettes de Cuisines</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/bretagne/#tag"> Bretagne <a> </h3>
                <div class="portfolio-box" >
                    <img  src="{{ url }}/img/drapeauBreton/lacasquette_650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption" >
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Bretagne
                            </div>-->
                          <a href="{{ url }}/bretagne/#tag">  <div class="icon-bretagne" ></div> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/maroc/#tag"> Maroc <a> </h3>
                <div class="portfolio-box">
                    <img src="img/drapeauMarocain/maroc_650x350.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <a href="{{ url }}/maroc/#tag">   <div class="icon-maroc"></div> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/famille/#tag"> Famille </a> </h3>
                <div class="portfolio-box">
                    <img src="img/Famille/famille_650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="icon-famille"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/autriche/#tag"> Autriche </a> </h3>
                <div class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <a href="{{ url }}/bretagne/#tag"> <div class="icon-autriche"></div> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="container">
      <p class=text-overWhite>
      Nous avons rassemblé dans cette rubrique toutes les recettes que nous avons mises
      en oeuvre pour garnir notre table au quotidien ou pour les jours de fête.
      Elles sont rangées dans les 4 sous-rubriques placees ci-dessus.
      </p>
      <p class=text-overWhite>
      Ces plats sont issus de notre tradition familiale faite de cuisine française et
      de cuisine bretonne. Ils ont été aussi rapportés de nos séjours
      à l’étranger : 13 années au Maroc pour toute la famille, 2 années à Vienne pour Maëlle,
      4 années à Londres pour Ronan.
      </p>
      <p class=text-overWhite>
      Pour chaque recette est indiqué le vin que Jean Paul a sorti de sa cave
      pour l’accompagner, cave constituée d’année en année avec l’aide d’amis fins gourmets.
      cuisine-du-siècle-couvertureUne relique est aussi rangée dans cette page.
      C’est  un livre de cuisine trouvé dans le grenier de Ploudaniel édité en 1899 :
      “la cuisine du siècle“. Les chapîtres sur “le savoir vivre” et “les élégances
      de la table” sont irrésistibles ! Ouvrez le livre…
      </p>
    </div>

</section>
