<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav2.html %}

  <section class="container"  id="tag">


  <div class="video-title">

  <div class="inner">
    <span>{{ page.title }}</span>
  </div>
  </div>

  <div class='post-content'>

  <div class='video-ronan'>
    {% include vimeoPlayer.html id=page.video padding-bottom="75%" label="test"%}
    {{ content }}
  </div>

  </div>

  <br>
  <br>

  {% include scripts.html %}

</section>

</body>

</html>
