<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav2.html %}

  <section class="post-text"  id="tag">

  <div class="container">

  <div class="post-title" >
    <div class="inner">
    <a href = "{{ site.url }}//{{page.tag_category}}/" >
      <div class='icon-backbutton'> </div>
    </a>
    </div>

    <div class="inner"> <span> {{ page.title }} </span> </div>
  </div>


  <div class="post-info" >
  <div class='row'>



  <div class="col-sm-12 col-md-5 order-sm-bottom">
  <!-- temps -->
  <div class="icon-temps"> <div class="icon-temps_preparation"></div> temps preparation </div>
  {% assign hours = page.temps_preparation | divided_by: 60 %}
  {% if  hours  > 0 %}
    <div class="icon-temps-min"> {{hours}} </div> h
  {% endif %}
  {% assign minutes = page.temps_preparation | modulo: 60 %}
  {% if  minutes   > 0 %}
    <div class="icon-temps-min"> {{minutes}} </div> min
  {% endif %}
  {% if  minutes  == 0  and hours == 0%}
      <div class="icon-temps-min"> - </div>
  {% endif %}
  <br>

  <div class="icon-temps"> <div class="icon-temps_cuisson"></div> temps de cuisson </div>
  {% assign hours = page.temps_cuisson | divided_by: 60 %}
  {% if  hours  > 0 %}
    <div class="icon-temps-min"> {{hours}} </div> h
  {% endif %}
  {% assign minutes = page.temps_cuisson | modulo: 60 %}
  {% if  minutes   > 0 %}
    <div class="icon-temps-min"> {{minutes}} </div> min
  {% endif %}
  {% if  minutes  == 0  and hours == 0%}
      <div class="icon-temps-min"> - </div>
  {% endif %}
  <br>

  <div class="icon-temps"> <div class="icon-temps_repos"></div>  temps de repos </div>
  {% assign hours = page.temps_repos | divided_by: 60 %}
  {% if  hours  > 0 %}
    <div class="icon-temps-min"> {{hours}} </div> h
  {% endif %}
  {% assign minutes = page.temps_repos | modulo: 60 %}
  {% if  minutes   > 0 %}
    <div class="icon-temps-min"> {{minutes}} </div> min
  {% endif %}
  {% if  minutes  == 0  and hours == 0%}
      <div class="icon-temps-min"> - </div>
  {% endif %}
  <br>

  <div class="icon-nbre"> <div class="icon-nbre_personn"></div> {{ page.nbre_personne | replace: "‘", '' | replace:  "’", ''}}</div>
  <br>
  <br>
  </div>

  <div class="col-sm-12 col-md-7 ">
    <!-- image -->
    {% if  page.image != "pas d'image" %}
      <img class='image-recette img-rounded' src="{{ url }}/{{ page.image }}" alt="pas encore d'image">
    {% endif %}
  </div>

  </div>
  </div>


  <div class='post-content'>
  {{ content }}

  <div class='img-extra'>

  {% assign nameneeded = page.slug | append: '-extra' %}
  {% for myimage in site.static_files %}
     {% if myimage.path contains nameneeded %}
       <img class='img-rounded' src="{{ url }}{{ myimage.path }}" alt="extra image" />
     {% endif %}
  {% endfor %}
  </div>
  </div>


<!--   <div class="col-sm-12 col-md-7 ">
    {% if  page.image != "pas d'image" %}
      <img class='image-recette' src="{{ url }}/{{ page.image }}-extra-1" alt="pas encore d'image">
    {% endif %}
  </div> -->

  {% include scripts.html %}
  <br>

  </div>

  </section>

</body>

</html>
